################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FinalYearProject/obj/Debug/net8.0/FinalYearProject.AssemblyInfo.cs
FinalYearProject/obj/Debug/net8.0/FinalYearProject.AssemblyInfoInputs.cache
/FinalYearProject/obj
