################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FinalYearProject/obj/Debug/net8.0/FinalYearProject.AssemblyInfo.cs
FinalYearProject/obj/Debug/net8.0/FinalYearProject.AssemblyInfoInputs.cache
/FinalYearProject/obj
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfo.cs
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfoInputs.cache
SeedsProject/obj/Debug/net8.0/SeedsProject.csproj.CoreCompileInputs.cache
SeedsProject/obj/Debug/net8.0/SeedsProject.sourcelink.json
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfo.cs
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfoInputs.cache
SeedsProject/obj/Debug/net8.0/SeedsProject.sourcelink.json
SeedsProject/obj/Debug/net8.0/rpswa.dswa.cache.json
SeedsProject/obj/Debug/net8.0/rpswa.dswa.cache.json
SeedsProject/obj/Debug/net8.0/SeedsProject.sourcelink.json
SeedsProject/obj/Debug/net8.0/SeedsProject.pdb
SeedsProject/obj/Debug/net8.0/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfoInputs.cache
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfo.cs
SeedsProject/obj/Debug/net8.0/rpswa.dswa.cache.json
SeedsProject/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
SeedsProject/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
SeedsProject/obj/Debug/net8.0/refint/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/ref/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/apphost.exe
SeedsProject/bin/Debug/net8.0/SeedsProject.pdb
SeedsProject/bin/Debug/net8.0/SeedsProject.exe
SeedsProject/bin/Debug/net8.0/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/SeedsProject.sourcelink.json
SeedsProject/obj/Debug/net8.0/SeedsProject.pdb
SeedsProject/obj/Debug/net8.0/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfoInputs.cache
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfo.cs
SeedsProject/obj/Debug/net8.0/rpswa.dswa.cache.json
SeedsProject/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
SeedsProject/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
SeedsProject/obj/Debug/net8.0/refint/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/ref/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/apphost.exe
SeedsProject/bin/Debug/net8.0/SeedsProject.pdb
SeedsProject/bin/Debug/net8.0/SeedsProject.exe
SeedsProject/bin/Debug/net8.0/SeedsProject.dll
SeedsProject/obj/Debug/net8.0/SeedsProject.AssemblyInfo.cs
/SeedsProject/obj/Debug
