@{
    ViewData["Title"] = "Seeds";
}
<div class="text-center">
    <h2 class="display-4">Seeds</h2>
    <p>Following are the details of Prototype phase assignment. </p>
    <h3>Task 1: Data Entry through a Form to Database</h3>
    <p>
        You have to design a form on front end, to enter Seeds data into a database such as SeedId, Title, Category,
        Color, CostPerKg etc. Your form should have a Submit button to submit or enter the record to a Seed
        Database at back end. The successful entry of record in a database is required. The form should also have a
        Reset button for resetting the record.
    </p>
    <h3>Task 2: Retrieving information from a database using searching criteria</h3>
    <p>
        You have to retrieve and display the requisite information from Seed Database by searching Seed on the basis
        of Category and then Title. When you select the title, the requisite information about the seed should be
        displayed in soft form.
    </p>
    <h3>Task 3: Add background Picture</h3>
    <p>Add any background picture related to your project.</p>
    
</div>